<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
    <title>home</title>
    
</head>

<body id="b" style="background-color: black;">

    <div id="hb" style=" height: 1000px; background-image: url(/galary14.jpg); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;" >
        <p>hello</p>
    </div>

<!-- header  -->
<header  id="HEAD" style="margin-top: 2%;" class="container-fluid fixed-top ">
        
            <ul class="nav d-flex justify-content-center  ">
                
                <button id="buttom1" style=" color: aliceblue; margin-right: 10%;" class = 'btn btn-outline-secondary' type="button" > registration / sing-in </button>
                </li>
                
                <li id="li2"  class="nav-item">
                  <a style="color: whitesmoke; font-family: cursive; font-size: large;" class="nav-link active" aria-current="page" href="songs">songs</a>
                </li>
                <li id="li3" class="nav-item">
                  <a style="color: whitesmoke; font-family: cursive; font-size: large;" class="nav-link" href="textgraphy">textgraphy</a>
                </li>
                <li id="li4" class="nav-item">
                  <a style="color: whitesmoke; font-family: cursive; font-size: large;" class="nav-link" href="biography">biography</a>
                </li>
                <li id="li5" class="nav-item">
                  <a style="color: whitesmoke; font-family: cursiv
                  e; font-size: large;" class="nav-link " href="gallery" tabindex="-1" aria-disabled="true">gallery</a>
                </li>
                <li id="li6" class="nav-item">
                    <a style="color: whitesmoke; font-family: cursive; font-size: large;" class="nav-link " href="musicvideo" tabindex="-1" aria-disabled="true">music-videos</a>
                </li>
                <li id="li7" class="nav-item">
                  <a style="color: whitesmoke; font-family: cursive; font-size: large;" class="nav-link " href="news" tabindex="-1" aria-disabled="true">news</a>
              </li>
                <li style="margin-left: 16%;">
                    <form class="d-flex">
                        <input  style="background-color: rgba(240, 248, 255, 0);" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                </li>
      </ul>      
</header>

<header id="NHEAD">
  <nav  style="background-color: rgba(240, 248, 255, 0.063);" class="navbar navbar-expand-md bd-highlight navbar-dark">
    <!-- Brand -->
    
  
    <!-- Toggler/collapsibe Button -->
    <button id="cid" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul style="margin-top: 3%;  " class="navbar-nav">
        <button id="rbuttom2"  class = 'btn btn-outline-secondary ' type="button" > registe / signin </button>
                  </li>
                  
                  <li style="margin-top: 3%;" id="li2" class="nav-item">
                    <a id="songs"  class="nav-link active" aria-current="page" href="songs">songs</a>
                  </li>
                  <li style="margin-top: 3%;" id="li3" class="nav-item">
                    <a id="texg" class="nav-link" href="textgraphy">textgraphy</a>
                  </li>
                  <li style="margin-top: 3%;" id="li4" class="nav-item">
                    <a id="bio"  class="nav-link" href="biography">bio-graphe</a>
                  </li>
                  <li style="margin-top: 3%;" id="li5" class="nav-item">
                    <a id="gallery"  class="nav-link " href="gallery" tabindex="-1" aria-disabled="true">gallery</a>
                  </li>
                  <li style="margin-top: 3%;" id="li6" class="nav-item">
                      <a id="mv"  class="nav-link " href="musicvideo" tabindex="-1" aria-disabled="true">music-videos</a>
                  </li>
                  <li style="margin-top: 3%;" id="li7" class="nav-item">
                    <a id="news"  class="nav-link " href="news" tabindex="-1" aria-disabled="true">news</a>
                </li>
      </ul>
    </div>
  </nav>
  </header>




<div id="sb" class="container-fluid  " style=" background-color: rgba(0, 0, 0, 0.318)x  ;  height: 700px;  " >
    <div style=" border-radius: 4px 4px 4px 4px;  box-shadow: 2px 2px  30px  rgb(159, 206, 216); color: aliceblue; background-color: rgba(144, 173, 199, 0.142); margin-top: 10%; text-align: center;" class="container-fluid">
        <p id="p1" >به نام خدا</p>
        <p id="p2">مهرزاد نیک با نام شناسنامه ای محمد حسین قرائتی در روز پنج شنبه سی ام مهرماه سال 1371 هجری در بیمارستان رسالت زیر پل سید خندان در شهر تهران در کشور ایران چشم به جهان گشود.</p>
        <p id="p3">وی در یک خانواده متوسط با بحران ها و چالش های فراوان بزرگ شد</p>
        <p id="p4"> پدر مادر وی زاده تهران و اما اصالتا کرد میباشند </p>
        <p id="p5">شغل خانوادگی وی در دشت کلهر کرمانشاه چلانگری و ساخت ابزاری همچون داس و نعل اسب بوده</p>
        <p id="p6"> و در کنار شغل علاقه ی شدیدی به قرائت و تدریس آن داشتند و این آتش در وی نیز وجود داشت و از کودکی علاقه ی شدیدی به هنر موسیقی پیدا کردند </p>
        <p id="p7" >( از بان مهرزاد نیک) </p>
        <p id="p8"> من از کودکی علاقه ی شدیدی به هنر موسیقی داشتم به طوریکه از 5 سالگی رادیو ضبط پدرم که نوار کاست میخورد همراهم بود  </p>
        <p id="p9"> من گاهی وقت ها با گوش دادن به موزیک انقدر احساسی میشدم که با وجود سن کمی که داشتم مثل یک انسان بالغ که شکست عشقی خورده شروع به اشک ریختن میکردم </p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>



</body>

<script>
$('#NHEAD').hide()
$(document).ready(()=>{
  const w = $(window).width();
  if (w <= 1000 ){
    $('#HEAD').hide()
    $('#NHEAD').show()
    $('#cid').click(()=>{
      $('#collapsibleNavbar').slideToggle()
    })
    document.getElementById('hb').style.backgroundImage = "url('/resize.jpg')"
  }
})


$('#rbuttom2').click(()=>{
  window.location = 'signIn'
})

document.getElementById('li2').style.position= 'relative';
document.getElementById('li3').style.position= 'relative';
document.getElementById('li4').style.position= 'relative';
document.getElementById('li5').style.position= 'relative';
document.getElementById('li6').style.position= 'relative';
document.getElementById('li7').style.position= 'relative';


$('#buttom1').click(()=>{
  window.location = 'signIn'
})

$(document).ready(()=>{
  $('#p1').slideUp()
  $('#p2').slideUp()
  $('#p3').slideUp()
  $('#p4').slideUp()
  $('#p5').slideUp()
  $('#p6').slideUp()
  $('#p7').slideUp()
  $('#p8').slideUp()
  $('#p9').slideUp()

})



$(document).scroll(()=>{
  // console.log(window.scrollY)
  if (window.scrollY >= 800){
    $('#li2').animate({right : '300px' , top : '100px'} , 1000)
        $('#li3').animate({right : '400px' , top : '200px'} , 1000)
        $('#li4').animate({right : '520px' , top : '300px'} , 1000)
        $('#li5').animate({right : '627px' , top : '400px'} , 1000)
        $('#li6').animate({right : '730px' , top : '500px'} , 1000)
        $('#li7').animate({right : '850px' , top : '600px'} , 1000)
        $('#p1').slideDown(1000)
        $('#p2').slideDown(1000)
        $('#p3').slideDown(1000)
        $('#p4').slideDown(1000)
        $('#p5').slideDown(1000)
        $('#p6').slideDown(1000)
        $('#p7').slideDown(1000)
        $('#p8').slideDown(1000)
        $('#p9').slideDown(1000)
        $('#hb').hide()
  }
})




</script>

</html>